!!!5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    link(rel='icon', href='/assets/images/favicon.png', type='image/png')
    title #{title} | Goaskämt.se
    link(rel='canonical', href='http://www.goaskamt.se/#{canonical}')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

    meta(property='og:title', content='Goa skämt')
    //- meta(property='og:image', content='http://goaskamt.se/assets/images/og-image.jpg')
    meta(property='og:description', content='#{tip.question}')
    meta(property='og:url', content='http://www.goaskamt.se/#{location}')
    meta(property='og:site_name', content='Goa skämt')

    link(rel='stylesheet', href='/css/style.css')


  body

    header.header
      .header__title
        | Goaskämt.se
        strong Men Skratta då!
      .header__intructions [space] för mer skämt!
    .jokes!=body


    script(type='text/javascript')
      function updateDOM(data, pushState) {
        var url = '/' + data.permalink;
        document.getElementById('question').innerHTML = data.question;
        document.getElementById('answer').innerHTML = data.answer;
        document.getElementById('permalink').href = url;

        var cleanQuestion = data.question.replace(/(<([^>]+)>)/ig,"");
        document.title = cleanQuestion + ' | Goa skämt';
        if (!pushState || !history.pushState) {
          return;
        }
        if (document.location.pathname == url) {
          return;
        }

        history.pushState(null, null, url);
      }
      function fetch(url, pushState) {
        url = url || '';
        url = '/' + url + '.json';

        var oReq = new XMLHttpRequest();
        oReq.onload = function () {
          data = JSON.parse(oReq.responseText);
          updateDOM(data, pushState);
        };
        oReq.open("get", url, true);
        oReq.send();
      };

      function onLoad() {

        if (!JSON) {
          return;
        }

        var $refresh = document.getElementById('refresh');


        $refresh.onmousedown = function (e) {
          fetch(null, true);
          e.preventDefault();
        };
        $refresh.onclick = function (e) {
          e.preventDefault();
        };
      };

      window.onpopstate = function (event) {
        var current = document.getElementById('permalink').getAttribute('href');
        var next = document.location.pathname;

        if (current === next || next === '/') {
          return;
        }

        fetch(next.substr(1), false);
      };

      document.addEventListener('DOMContentLoaded', onLoad, false);
