!!!5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    link(rel='icon', href='/assets/images/favicon.png', type='image/png')
    title #{title} | Goaskämt.se
    link(rel='canonical', href='http://www.goaskamt.se/#{canonical}')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

    meta(property='og:title', content='Goa skämt')
    //- meta(property='og:image', content='http://goaskamt.se/assets/images/og-image.jpg')
    meta(property='og:description', content='#{title}')
    meta(property='og:url', content='http://www.goaskamt.se/#{location}')
    meta(property='og:site_name', content='Goa skämt')

    link(rel='stylesheet', href='/css/style.css')

  body
    div.page-info
      p
        | Goaskämt.se är ett litet, litet, litet sidoprojekt av Alexander Johansson, Daniel Farsi och Tobias Malm.
      p
        | Saknar du ett skämt? Maila oss på joke@goaskamt.se
    div.container
      header.header
        .header__title
          | Goaskämt.se
          strong Men Skratta då!
        .header__info
          i(class="icon-info")
      .jokes!=body
      footer
        a.button.refresh-joke(href="/")="MERA SKÄMT!"
    script(src='/js/app.js')
    script
        require('initialize');

    script
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1542491712636260',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
